<div class="container">
  <div class="row text-center py-5">
    <h1>Benvenuto nella tua dashboard Personale
    </h1>
  <div class="col-md-4 p-3">
    <h2>Ordini effettuati <span class="fs-3"> 🗒️</span></h2>
    <div class="border green-flag rounded bg-light" style="min-height: 162px;">
     <ul class="fs-5 text-start">
      <li>Ordini effettuati in questo anno : {{ordersPerYear?ordersPerYear.length:0}}</li>
      <li>Ordini effettuati in questo mese : {{ordersPerMonth?ordersPerMonth.length:0}}</li>
      <li>Ordini effettuati oggi : {{ordersPerDay?ordersPerDay.length:0}}</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Prodotti venduti <span class="fs-3"> 🍕 🍷 🍺</span></h2>
    <div class="border shadow rounded bg-light" style="min-height: 162px;">
    <ul class="fs-5 text-start">
      <li>Totale prodotti venduti in questo anno : {{productsPerYear?productsPerYear.length:0}}</li>
      <li>Totale prodotti venduti in questo mese : {{productsPerMonth?productsPerMonth.length:0}}</li>
    <li>Totale prodotti venduti oggi: {{productsPerDay?productsPerDay.length:0}}</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Incasso <span class="fs-3"> 💰</span></h2>
    <div class="border italy-flag rounded bg-light" style="min-height: 162px;">
    <ul class="fs-5 text-start">
    <li>Incasso in questo anno :</li>
    <li>Incasso in questo mese :</li>
    <li> Incasso oggi :</li>
    </ul>
    </div>
  </div>
<div class="col-md-12 p-3">
  <h1 class="bg-dark p-2"><span class="text-success">Pizzeria </span> <span class="text-white"> Terra </span><span class="text-danger"> Mia</span></h1>
<button class="btn btn-success m-2">Sala</button>
<button class="btn btn-danger m-2"> Pizzeria</button>
</div>

    <div class="col-md-12 py-5">
     <h1> Cosa vuoi fare? </h1>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-success">Inserisci un ordine</button>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-danger">Fai il conto</button>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-warning">Visualizza Ordini</button>
  </div>
  </div>


</div><app-footer></app-footer>
