<div class="container">
  <div class="row text-center py-5">
    <h1>Benvenuto nella tua dashboard Personale
    </h1>
  <div class="col-md-4 p-3">
    <h2>Ordini effettuati <span class="fs-3"> 🗒️</span></h2>
    <div class="border green-flag rounded bg-light" style="min-height: 162px;">
     <ul class="fs-5 text-start">
      <li>Ordini effettuati in questo anno : {{ordersPerYear?ordersPerYear.length:0}}</li>
      <li>Ordini effettuati in questo mese : {{ordersPerMonth?ordersPerMonth.length:0}}</li>
      <li>Ordini effettuati oggi : {{ordersPerDay?ordersPerDay.length:0}}</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Prodotti venduti <span class="fs-3"> 🍕 </span></h2>
    <div class="border shadow rounded bg-light" style="min-height: 162px;">
    <ul class="fs-5 text-start">
      <li>Totale prodotti venduti in questo anno : {{productsPerYear?productsPerYear.length:0}}</li>
      <li>Totale prodotti venduti in questo mese : {{productsPerMonth?productsPerMonth.length:0}}</li>
    <li>Totale prodotti venduti oggi: {{productsPerDay?productsPerDay.length:0}}</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Incasso <span class="fs-3"> 💰</span></h2>
    <div class="border italy-flag rounded bg-light" style="min-height: 162px;">
    <ul class="fs-5 text-start">
    <li>Incasso in questo anno : {{earningsPerYear||0}}</li>
    <li>Incasso in questo mese : {{earningsPerMonth||0}}</li>
    <li> Incasso oggi : {{earningsPerDay||0}}</li>
    </ul>
    </div>
  </div>
<div class="col-md-12 p-3">
  <h1 class="bg-dark p-2"><span class="text-success">Pizzeria </span> <span class="text-white"> Terra </span><span class="text-danger"> Mia</span></h1>
<button class="btn btn-success m-2" (click)="sala=true;pizzeria=false">Sala</button>
<button class="btn btn-danger m-2" (click)="sala=false;pizzeria=true"> Pizzeria</button>
<div class="row">
  <div class="col-md-12" *ngIf="sala">
    <div class="row">
  <h1>Sala</h1>
  <div class="col-md-3" *ngFor="let o of ordersPerDay">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ordine - {{o.id}} <button class="btn mx-1" (click)="modify(o)">🖋️</button> <button class="btn mx-1" (click)="cancel(o.id)">🗑️</button></h5>
        <p class="card-text">Coperti: {{o.coperti}} | Tavolo :{{o.tavolo}}</p>
        <p class="text-success" *ngIf="o.state&&o.state=='IN_CORSO'">{{o.state}}</p>
                <p class="text-danger" *ngIf="o.state&&o.state=='PAGATO'">{{o.state}}</p>
                <div class="p-1 border rounded bg-light">
<p *ngFor="let p of o.prodotti">{{p.nome}} - {{p.description ||1}}</p>
<p class="p-2"><span>Modifiche : </span> {{o.modify}}</p>
                </div>

        <a class="btn btn-primary m-1" (click)="paga(o)" *ngIf="o.state&&o.state=='IN_CORSO'">Paga</a>
      </div>
    </div>
  </div>
  <div *ngIf="ordersPerDay.length==0">Non ci sono ancora ordini</div>
    </div>
</div>
  <div class="col-md-12" *ngIf="pizzeria">
    <div class="row">
  <h1>Pizzeria</h1>
  <div class="col-md-3" *ngFor="let o of ordersPerDay">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ordine - {{o.id}} <button class="btn mx-1" (click)="modify(o)">🖋️</button></h5>
        <p class="card-text">Coperti: {{o.coperti}} | Tavolo :{{o.tavolo}}</p>
        <p class="text-success" *ngIf="o.state&&o.state=='IN_CORSO'">{{o.state}}</p>
                <p class="text-danger" *ngIf="o.state&&o.state=='PAGATO'">{{o.state}}</p>
                <div class="p-1 border rounded bg-light">
<p *ngFor="let p of o.prodotti">
  <span *ngIf="p.productType=='PIZZE_CLASSICHE'||p.productType=='PIZZE_FOOD_PORN'||p.productType=='PIZZE_DESSERT'||p.productType=='FRITTI'||p.productType=='SPECIALITÀ'">
    {{p.nome}} - {{p.description ||1}}
 <span style="font-size: 12px;" *ngFor="let i of p.ingredients">{{i.nome}} , </span></span></p>
 <p class="p-2"><span>Modifiche : </span> {{o.modify}}</p>
                </div>
      </div>
    </div>
  </div>
  <div *ngIf="ordersPerDay.length==0">Non ci sono ancora ordini</div>
    </div>
</div>
</div>
</div>

    <div class="col-md-12 py-5">
     <h1> Inserisci un ordine! </h1>
  </div>
  <div class="col-md-12 py-4">
    <button class="btn btn-success" (click)="inserisciOrdine()">Inserisci</button>
  </div>
  </div>


</div><app-footer></app-footer>
