<div class="container">
  <div class="row text-center py-5">
    <h1>Benvenuto nella tua dashboard Personale
    </h1>
  <div class="col-md-4 p-3">
    <h2>Ordini effettuati</h2>
    <div class="border green-flag rounded bg-light" style="min-height: 142px;">
     <ul class="fs-5 text-start">
      <li>Ordini effettuati in questo anno :</li>
      <li>Ordini effettuati in questo mese :</li>
      <li>Ordini effettuati oggi :</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Prodotti venduti</h2>
    <div class="border shadow rounded bg-light" style="min-height: 142px;">
    <ul class="fs-5 text-start">
      <li>Totale prodotti venduti in questo anno :</li>
      <li>Totale prodotti venduti in questo mese :</li>
    <li>Totale prodotti venduti oggi:</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4 p-3">
    <h2>Incasso</h2>
    <div class="border italy-flag rounded bg-light" style="min-height: 142px;">
    <ul class="fs-5 text-start">
    <li>Incasso in questo anno :</li>
    <li>Incasso in questo mese :</li>
    <li> Incasso oggi :</li>
    </ul>
    </div>
  </div>
<div class="col-md-12 p-3">
  <h1 class="bg-dark"><span class="text-success">Pizzeria </span> <span class="text-white"> Terra </span><span class="text-danger"> Mia</span></h1>
<button class="btn btn-success m-2">Sala</button>
<button class="btn btn-danger m-2"> Pizzeria</button>
</div>

    <div class="col-md-12 py-5">
     <h1> Cosa vuoi fare? </h1>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-success">Inserisci un ordine</button>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-danger">Fai il conto</button>
  </div>
  <div class="col-md-4 py-4">
    <button class="btn btn-warning">Visualizza Ordini</button>
  </div>
  </div>


</div><app-footer></app-footer>
