<div class="row">
  <div class="col-md-12 p-3 w-100 bg-warning">
    <div class="row">
      <div class="col-md-6 p-3">
        <div class="w-100 m-auto" data-aos="zoom-out" data-aos-duration="3000">
          <img src="../../../assets/Background-images/PieroAmato/pieroAmato.jpg" alt="" class="rounded border italy-flag w-100" >
        </div>
      </div>
      <div class="col-md-6 my-5" data-aos="zoom-in" data-aos-duration="3000">
        <p class="fs-1 py-5 my-5 text-center" style="line-height: 1.5;">
          Piero Amato. 🥇
         </p>
         <p class="fs-5" style="line-height: 1.5;">Imprenditore, pizzaiolo, sostenitore del territorio e propietario ufficiale di Terra Mia. Nel mio locale da sempre ci preoccupiamo di offrire i prodotti locali
          , garantendo quindi una qualità elevata. 🔝  Favorendo gli operai, gli artigiani e i contadini locali ci discostiamo dalla grande distribuzione. Il nostro obiettivo è quello di fare
          vivere ai nostri clienti un'esperienza sensazionale <span class="fs-3">✨</span> ogni volta che mettono piede nella nostra pizzeria. Siamo felici nel vedere i nostri clienti soddisfatti, ma soprattutto sazi! <span class="fs-3">🐷</span>
         </p>
         <p class="fs-3 text-danger fw-bold py-3">Pizza preferita : <span class="text-dark">Nonna rosa </span></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
