<nav class="w-100 bg-black">
<div class="row p-3 text-white">
  <div class="col-md-3">
    <h1><a routerLink="/" routerLinkActive="active"><span class="text-success">Ter</span><span class="text-white">ra</span><span class="text-danger"> Mia</span></a></h1>
  </div>
  <div class="col-md-6 text-center fw-bold">
    <h1><a routerLink="/pieroAmato" routerLinkActive="active">Piero Amato ®</a></h1></div>
  <div class="col-md-3 text-end fw-bold"><h2>C.so Umberto</h2>
  <p class="fw-bold">Casole Bruzio</p></div>
</div>
</nav>
